*{
margin: 0%;
padding: 0%;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    margin-top: 50px;
}

h1{
    text-align: center;
}

body{
    background-color: tomato;
}

a{
    text-decoration: none;
    color: white;
}
.azul:hover{
    color: blue;
}

.amarelo:hover{
    color: yellow;
}

.conteiner{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.esquerda{
    padding: 20px;
    width: 350px;
    height: 400px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
    margin-right: 10px;
}


.direita{
    padding: 20px;
    width: 700px;
    height: 400px;
    background-color: rgb(179, 178, 178);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
}

.ima01{
    width: 250px;
}

.ima02{
    width: 250px;

}

.ima03{
    width: 250px;
}

.pokedex{
    background-color: white;
    width: 83%;
    border-radius: 30px;
    padding: 10px;
   text-align: center;
   margin-left: 110px;
   
}

#agua{
    background-color: aqua;
    width: 70%;
    border-radius: 30px;
    padding: 10px;
}

#raio{
    background-color: yellow;
    width: 70%;
    border-radius: 30px;
    padding: 10px;
}